<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>spacestate info.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>spacestate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2808BDEA198542D100BFAAAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2808BDFB198542D200BFAAAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283970681A76B43A00880597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2860729019842C7800ED3E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>286072A219842C7800ED3E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28E578271A76D44500716BFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
